.product-detail {
  display: flex;
  justify-content: center;
}
.product-detail-options {
  width: 300px;
  margin-left: 2rem;
  text-align: left;
}
.product-plice {
  margin: 1rem 0;
}

.colors,
.quantity {
  margin: 1rem 0;
}
.color-options {
  display: flex;
}
.color-options p {
  margin-right: 0.3rem;
}

.add-cart-btn {
  width: 100%;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 13px;
  background-color: rgb(83, 97, 77);
  border: none;
  transition: 0.2s;
}
.add-cart-btn:hover {
  background-color: rgba(83, 97, 77, 0.7);
  border: none;
}
