.main {
  margin: 0 3rem;
}
.sns-icons-container {
  position: fixed;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}
.sns-icon {
  display: block;
  margin: 2.5rem auto;
  font-size: 1.5rem;
  color: #333;
}

.items-title hr {
  width: 10%;
  margin: 1rem auto;
}
/* 

--- NewItems.js & PopularItems.js --- 

*/

.toppage-items {
  width: 100%;
  margin-top: 5rem;
}
.toppage-items-titles {
  margin: 7rem 0 3rem;
  letter-spacing: 2px;
}
.toppage-items-title h3 {
  font-size: 24px;
}

.item-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-item {
  margin: 1rem;
}
.page-item img {
  width: 200px;
  height: auto;
}
.item-img-container {
  margin-top: 1rem;
  cursor: pointer;
}
.item-img {
  width: 100%;
}
.item-details {
  text-align: left;
  font-size: 13px;
}
.item {
  margin: 1rem 0 0.3rem;
}
.price {
  font-size: 12px;
}

.company-name {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  color: rgb(83, 97, 77);

  margin: 7rem;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
  border: 1px solid black;
}
.color-box {
  height: 50px;
  display: flex;
  flex-direction: row;
}
