.new-items {
}
.new-items-titles {
  margin: 7rem 0 3rem;
}

.new-item {
  width: 250px;
}
.new-item-img-container {
  width: 200px;
}
.new-item-img {
  width: 100%;
}
.new-item-details {
  text-align: left;
}
