* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
img {
  vertical-align: bottom;
  width: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
.App {
  color: #333;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}

/* 

  login, resister

*/
.login-container {
}
.input-form {
}
.input-form input {
  display: block;
  margin: 1rem auto;
  width: 30%;
  height: 2rem;
}
.input-form input:focus {
  background-color: rgb(232, 252, 232);
}
.input-form button {
  width: 30%;
  height: 2rem;
  background-color: #04aa6d;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
/* 

  Footer.js

*/
.footer {
  font-size: 13px;
  letter-spacing: 1px;
  /* margin: 0 5rem; */
}
.f-menu-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.f-menu-container h3 {
  width: 120px;
  margin-right: 1rem;
  text-align: right;
}
.f-menu-container ul {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  line-height: 1.5rem;
}
.f-menu-container ul li {
  margin: 0 0.5rem;
}

.footer-sns-icon {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.footer hr {
  widows: 100%;
}
.copyright {
  margin: 1rem 0;
}
